/* Comments on colors: where it is used - default color */
:root {
    --primary-color: #07889B;
    --primary-text: #303030;
    --secondary-text: #818181;
    --secondary-section: #F6F6F6;
    --menu-text: #fff;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: var(--secondary-text); /* secondary text color - gray #818181 */
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--primary-text); /* section title text color - almost black #303030 */
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: var(--primary-text); /* primary text color - almost black #303030 */
    font-weight: 400;
    margin-bottom: 30px;
}  
.jumbotron {
    background-color: var(--primary-color);  /* jumbotron background color - bright red #f4511e */
    color: var(--menu-text);  /* jumbotron text color - white #fff */
    padding: 50px 25px;     /* original padding: 100px 25px */
    font-family: Montserrat, sans-serif;
    margin-bottom: 0; /* to remove space between jumbotron and secondary navbar */
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: var(--secondary-section); /* secondary section bg - light gray #f6f6f6 */
}
.logo-small {
    color: var(--primary-color); /* logos previously in "Service" section (no longer used) bright red #f4511e */
    font-size: 50px;
}
.logo {
    color: var(--primary-color); /* default section logos (signal-bar, globe, etc) bright red #f4511e */
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: var(--primary-color); /* carousel control arrow colors - bright red #f4511e */
}
.carousel-indicators li {
    border-color: var(--primary-color);  /* active+inactive indicator border color - bright red #f4511e */
}
.carousel-indicators li.active {
    background-color: var(--primary-color);  /* active indicator main color - bright red #f4511e */
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 0px 12% 70px 12%;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid var(--primary-color);  /* bright red #f4511e */
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid var(--primary-color);   /* bright red #f4511e */
    background-color: var(--menu-text) !important; /* panel bg color - white #fff*/
    color: var(--primary-color);   /* bright red #f4511e */
}
.panel-heading {
    color: var(--menu-text) !important; /* panel heading color - white #fff
    background-color: var(--primary-color) !important; /* "Payment" section, table header background color - bright red #f4511e */
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa; /* "Payment" section - "per month" text - gray #aaa */
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: var(--primary-color); /* "Payment" section - "Sign Up" button - bright red #f4511e */
    color: var(--menu-text);  /* panel footer color - white #fff */
}
.navbar {
    margin-bottom: 0;
    background-color: var(--primary-color);  /* menu bar - bright red #f4511e */
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: var(--menu-text) !important;   /* menu bar text - white #fff */
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: var(--primary-color) !important;  /* menu bar color on hovor - bright red #f4511e */
    background-color: var(--menu-text) !important;  /* menu bar bg color on hovor - white #fff */
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: var(--menu-text) !important; /* white #fff */
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--menu-text);
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--primary-color); /* bright red #f4511e*/
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
.sub1 {
    padding-left: 31.5%;
}

#ASHA {
  float: right;
  position: relative;
  width: 80%;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}